
ipython  # interactive notebook
matplotlib>=3.2.2
numpy>=1.18.5
# opencv-python
opencv-python-headless
Pillow>=7.1.2
psutil  # system resources
thop>=0.1.1  # FLOPs computation
torch>=1.13.0+cu116  # see https://pytorch.org/get-started/locally (recommended)
torchvision>=0.12.1+cu116
tqdm>=4.64.0

tensorboard>=2.4.1

pandas>=1.1.4
seaborn>=0.11.0
streamlit
albumentations>=1.0.3

